<div class="row" *ngIf="errorMessage">
    <div class="col">
        <p>{{errorMessage}}</p>
    </div>
</div>    
<div class="row">
    <div class="col">
        <button (click)="onLoadTest()">LOAD TEST</button>
    </div>
    
    <div class="col">
        <button (click)="onLoadLocal()">LOAD LOCAL STORAGE</button>
    </div>
    
    <div class="col">
            <button (click)="onLoadHttp('ft')">FT</button>
    </div>
    
    <div class="col">
        <button (click)="onLoadHttp('cryptic')">Guardian</button>
    </div>

    <div class="col">
        <button (click)="onLoadHttp('azed')">Azed</button>
    </div>

<div class="col">
        <button (click)="onClear()">CLEAR LOCAL</button>
    </div>
</div>

<div class="row">
    <div class="col">
        <p>PAGE BODY</p>
    </div>
</div>