<h3>Make Backup</h3>

<form class="form" [formGroup]="form">

    <div class="form-group">
        <label for="caption" class="form-label">Title for this backup</label>
        <app-validation-message [control]="form.get('caption')"></app-validation-message>
        <input type="text" id="caption" class="form-control" placeholder="un-named puzzle" formControlName="caption">
    </div>

    <div class="form-group">
        <label for="browser" class="form-label">Browser name</label>
        <app-validation-message [control]="form.get('browser')"></app-validation-message>
        <input type="text" id="browser" class="form-control" placeholder="eg Chrome" formControlName="browser">
    </div>

    <div class="form-group">
        <label for="computer" class="form-label">A name for this computer</label>
        <app-validation-message [control]="form.get('computer')"></app-validation-message>
        <input type="text" id="computer" class="form-control" placeholder="eg my laptop" formControlName="computer">

    </div>

</form>

<div>
    <button type="button" class="btn btn-primary" [disabled]="!form.valid" (click)="onBackup()">Backup</button>
</div>
