<div class="modal-body" *ngIf="puzzle">

    <ul ngbNav #nav="ngbNav" [(activeId)]="activeId" class="nav-tabs" (navChange)="onNavChange($event)">

        <li ngbNavItem="AddClueComponent">
            <a ngbNavLink>Add remove</a>
            <ng-template ngbNavContent>
                <app-add-clue (dirty)="onDirty()" (close)="onClose()"></app-add-clue>
            </ng-template>
        </li>

        <li ngbNavItem="PuzzleOptionsComponent">
            <a ngbNavLink>Annotation otions</a>
            <ng-template ngbNavContent>
                <app-puzzle-options (dirty)="onDirty()" (close)="onClose()"></app-puzzle-options>
            </ng-template>
        </li>

        <li ngbNavItem="GridFormComponent" *ngIf="puzzle.grid">
            <a ngbNavLink>Grid</a>
            <ng-template ngbNavContent>
                <app-grid-form (dirty)="onDirty()" (close)="onClose()"></app-grid-form>
            </ng-template>
        </li>
    </ul>

    <div [ngbNavOutlet]="nav" class="my-3"></div>

</div>

<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark mr-3" (click)="onSave()" [ngClass]="{ 'd-none': hideSaveCancelButtons }">Save</button>
    <button type="button" class="btn btn-outline-dark mr-3" (click)="onCancel()" [ngClass]="{ 'd-none': hideSaveCancelButtons }">Discard changes</button>
    <button type="button" class="btn btn-outline-dark mr-3" (click)="onClose()" [ngClass]="{ 'd-none': !hideSaveCancelButtons }">Close</button>
</div>
