<div class="row">
    <div class="col">
        <table class="table w-100" *ngIf="puzzle">
            <tbody>
                <ng-container *ngFor="let clue of puzzle.clues">
                    <tr class="border-top bg-light" (click)="onRowClick(clue)" *ngIf="!clue.highlight">
                        <td>
                            {{clue.caption}}
                        </td>
                        <td class="font-weight-bold">
                            {{clue.answer}}
                        </td>
                        <td>
                            <app-clue-text [clue]="clue" [publishOptions]="puzzle.publishOptions"></app-clue-text>
                        </td>
                        <td>
                            <quill-view [content]="clue.comment" format="object" theme="snow"></quill-view>
                        </td>
                        <td>
                            <ng-container *ngIf="appSettings.general.showCommentValidation.enabled && clue.warnings.length && !clue.redirect">
                                <span class="text-warning"> {{clue.warnings[0]}}</span>
                            </ng-container>
                        </td>
                    </tr>

                    <tr *ngIf="clue.highlight">
                        <td colspan="5">
                            <div class="border rounded">
                                <app-clue-annotator [clueId]="clue.id" (close)="onEditorClose(clue, $event)"></app-clue-annotator>
                            </div>
                        </td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>
</div>

<div class="row mt-5" *ngIf="puzzle">
    <div class="col">
        <button type="button" class="btn btn-primary mr-3" (click)="onContinue()">Continue</button>
        <button type="button" class="btn btn-primary mr-3" (click)="onSolver()" *ngIf="puzzle.capability.solveable">Open in solver</button>
        <button type="button" class="btn btn-primary mr-3" (click)="onEditClues()" style="display:none">Edit clues (temp)</button>
        <button type="button" class="btn btn-primary mr-3" (click)="onBack()">Back</button>
    </div>
</div>