<app-info-panel>
    <p>
        THIS FEATURE IS WORK IN PROGRESS. Currently clues can only be linked automatically from the clue caption.
        For example the clue captioned "1 across" always links to the across entry in the grid numbered 1.
    </p><p>
        In some puzzles, alphabetical jigsaws for example, the clue captions do not indicate the location of the 
        solution in the grid.  This tool will allow you to add those links manually.
    </p>
</app-info-panel>

<form [formGroup]="form" *ngIf="clue">
    <div class="form-check">
        <input class="form-check-input" id="setGridRefsFromCaptions" type="checkbox"
            formControlName="setGridRefsFromCaptions" (change)="onChangeGridRefs()">
        <label for="setGridRefsFromCaptions" class="form-check-label">
            Choose grid entries automatically (clear this if the clue caption is not numeric, eg an alphabetical jigsaw)
        </label>
    </div>
    <div class="mt-5">
        <div class="m-3" *ngFor="let gridRef of clue.link.gridRefs">
            <app-grid-reference [gridRef]="gridRef"></app-grid-reference>
        </div>
    </div>
</form>