<div class="modal-body" *ngIf="puzzle">

    <ul ngbNav #nav="ngbNav" [(activeId)]="activeId" class="nav-tabs" (navChange)="onNavChange($event)">

        <li ngbNavItem="ClueAnnotatorComponent">
            <a ngbNavLink>Solve and annotate</a>
            <ng-template ngbNavContent>
                <app-clue-annotator (dirty)="onDirty()">
                </app-clue-annotator>
            </ng-template>
        </li>

        <li ngbNavItem="ClueTextEditorComponent">
            <a ngbNavLink>Edit clue</a>
            <ng-template ngbNavContent>
                <app-clue-text-editor (dirty)="onDirty()"></app-clue-text-editor>
            </ng-template>
        </li>

        <li ngbNavItem="AddRemoveClueComponent">
            <a ngbNavLink>Add remove</a>
            <ng-template ngbNavContent>
                <app-add-remove-clue (dirty)="onDirty()"></app-add-remove-clue>
            </ng-template>
        </li>

        <li ngbNavItem="GridLinkerComponent" *ngIf="puzzle.grid">
            <a ngbNavLink>Grid entries</a>
            <ng-template ngbNavContent>
                <app-grid-linker (dirty)="onDirty()"></app-grid-linker>
            </ng-template>
        </li>

        <li ngbNavItem="PuzzleOptionsComponent">
            <a ngbNavLink>Annotation otions</a>
            <ng-template ngbNavContent>
                <app-puzzle-options (dirty)="onDirty()"></app-puzzle-options>
            </ng-template>
        </li>

        <li ngbNavItem="GridFormComponent" *ngIf="puzzle.grid">
            <a ngbNavLink>Grid</a>
            <ng-template ngbNavContent>
                <app-grid-form (dirty)="onDirty()"></app-grid-form>
            </ng-template>
        </li>
    </ul>

    <div [ngbNavOutlet]="nav" class="my-3"></div>

</div>

<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark mr-3" (click)="onSave()" [ngClass]="{ 'd-none': hideSaveCancelButtons }">Save</button>
    <button type="button" class="btn btn-outline-dark mr-3" (click)="onCancel()" [ngClass]="{ 'd-none': hideSaveCancelButtons }">Discard changes</button>
    <button type="button" class="btn btn-outline-dark mr-3" (click)="onClose()" [ngClass]="{ 'd-none': !hideSaveCancelButtons }">Close</button>
</div>
