<div class="modal-body">

    <ul ngbNav #nav="ngbNav" [(activeId)]="activeId" class="nav-tabs" (navChange)="onNavChange($event)">

        <li ngbNavItem="ClueAnnotatorComponent">
            <a ngbNavLink>Solve and annotate</a>
            <ng-template ngbNavContent>
                <app-clue-annotator [starterText]="starterText" (instance)="onEditorInstance($event)" (dirty)="onDirty()">
                </app-clue-annotator>
            </ng-template>
        </li>

        <li ngbNavItem="ClueTextEditorComponent">
            <a ngbNavLink>Edit clue</a>
            <ng-template ngbNavContent>
                <app-clue-text-editor (instance)="onEditorInstance($event)" (dirty)="onDirty()"></app-clue-text-editor>
            </ng-template>
        </li>

        <li ngbNavItem="GridLinkerComponent">
            <a ngbNavLink>Grid entries</a>
            <ng-template ngbNavContent>
                <app-grid-linker (instance)="onEditorInstance($event)"></app-grid-linker>
            </ng-template>
        </li>

        <li ngbNavItem="PuzzleOptionsComponent">
            <a ngbNavLink>Annotation otions</a>
            <ng-template ngbNavContent>
                <app-puzzle-options (instance)="onEditorInstance($event)"></app-puzzle-options>
            </ng-template>
        </li>

        <li ngbNavItem="GridFormComponent">
            <a ngbNavLink>Grid</a>
            <ng-template ngbNavContent>
                <app-grid-form (instance)="onEditorInstance($event)"></app-grid-form>
            </ng-template>
        </li>
    </ul>

    <div [ngbNavOutlet]="nav" class="my-3"></div>

</div>

<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark mr-3" (click)="onSave()" [ngClass]="{ 'd-none': hideSaveCancelButtons }">Save</button>
    <button type="button" class="btn btn-outline-dark mr-3" (click)="onCancel()" [ngClass]="{ 'd-none': hideSaveCancelButtons }">Cancel</button>
    <button type="button" class="btn btn-outline-dark mr-3" (click)="onClose()" [ngClass]="{ 'd-none': !hideSaveCancelButtons }">Close</button>

</div>