<div *ngIf="clue && appSettings">
    <form [formGroup]="form">

        <div class="container">

            <div class="row align-items-center">
                <div class="col"><span class="">{{clue.caption}}</span></div>
                <div class="coltext-right">
                    <button type="button" class="btn btn-link"
                        *ngIf="appSettings.general.showCommentEditor.enabled && hasDefinition()"
                        (click)="onClearDefinition()">clear
                        definition</button></div>
            </div>

            <div class="row">
                <div class="col">
                    <h4>
                        <app-clue-text-control formControlName="chunks" (change)="onChange()"
                            [ngClass]="{ 'hidden': !appSettings.general.showCommentEditor.enabled }">
                        </app-clue-text-control>
                        <span
                            [ngClass]="{ 'hidden': appSettings.general.showCommentEditor.enabled }">{{clue.text}}</span>
                    </h4>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <app-tip key="definitionWarning" (instance)="onTipInstance($event)" maxActivations="1">
                        You have not highlighted the definition yet.
                        To highlight the definition clue select part of the clue text using your mouse or other pointing
                        device.
                    </app-tip>
                </div>
            </div>
        </div>

        <div class="modal-body">
            <h4 class="spacey">
                <span *ngFor="let chunk of latestAnswer" [ngClass]="chunk.klass">{{chunk.letter}}</span>
            </h4>
        </div>

        <div class="modal-body">
            <app-tip group="none" [suppressable]="false" *ngIf="showAnnotation">{{clue.annotation}}</app-tip>

            <ng-container formArrayName="answers">
                <div class="form-group" *ngFor="let item of answerItems; let i = index;">

                    <div class="float-left"><label [for]="item.id">{{item.caption}}</label></div>

                    <div class="float-right" *ngIf="i === 0 && clue.solution && appSettings.general.showCheat.enabled">
                        <button type="button" class="btn btn-link" *ngIf="!(publishOptions && publishOptions.textCols.length > 1)" (click)="onCheat()">cheat</button>
                        <button type="button" class="btn btn-link" (click)="onAnnotation()" *ngIf="clue.annotation">annotation</button>
                    </div>

                    <input [id]="item.id" class="form-control" [ngClass]="{'text-uppercase': !i}" [attr.ngbautofocus]="i ? null : ''" [formControlName]="item.index" (input)="!i && onChange()">
                </div>
            </ng-container>

        <div class="form-group mb-0">
                <div class="clearfix">
                    <label class="inline-block float-left" [ngClass]="{ 'hidden': !appSettings.general.showCommentEditor.enabled }" for="comment">Comment</label>

                    <button type=button class="btn btn-link m-0 p-0 float-right" (click)="onToggleComment()">
                        <span *ngIf="!appSettings.general.showCommentEditor.enabled">show comment</span>
                        <span *ngIf="appSettings.general.showCommentEditor.enabled">hide comment</span>
                    </button>
                </div>
                
                <div [ngClass]="{ 'hidden': !appSettings.general.showCommentEditor.enabled }">
                    <quill-editor id="comment" formControlName="comment" format="object" (onContentChanged)="onChange()"></quill-editor>
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <div class="text-warning" *ngIf="showTextWarning">
                <span> {{warnings[0]}}</span>
            </div>

            <button type="button" class="btn btn-outline-dark" (click)="onSave()">Save</button>
            <button type="button" class="btn btn-outline-dark" (click)="onCancel()">Cancel</button>


        </div>
    </form>
</div>