<div class="container">
    <form [formGroup]="form">

        <div class="row">
            <div class="col">
                <h3>Clue Editor</h3>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col">
                <label class="form-label" for="caption">clue number</label>
            </div>
        </div>

        <div class="row">
            <div class="col-8">
                <input id="caption" type="text" class="form-control" formControlName="caption">
            </div>

            <div class="col-4">
                <select class="form-control" formControlName="group">
                    <option value="across">Across</option>
                    <option value="down">Down</option>
                </select>
            </div>
        </div>
        
        <div class="row mt-3">
            <div class="col">
                <label class="form-label" for="text">clue text</label>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <input #text id="text" type="text" class="form-control" formControlName="text">
            </div>
        </div>

        <div class="row mt-5 mb-3">
            <div class="col">
                <button type="button" class="btn btn-primary mr-3" (click)="onSave()">Save</button>
                <button type="button" class="btn btn-primary" (click)="onCancel()">Cancel</button>
            </div>
        </div>
    </form>
</div>