<div class="row">
    <div class="col">
        <h3>Feature Requests</h3>
    </div>
</div>


<div class="row justify-content-center">
    <div class="col">
        <pre>

Make the GridLinker tab manually configurable (maybe a separate carte-blacnhe tool?)

When restoring settings go teh settings page and allow teh user to save or cancel

Have a save-settings button on the backup page

Finish puzzle validation modifier

Add functionality to follow redirects

GENERAL

Add some way to get a private copy of a blog, in the case where the app cannot post to 225 for some reason

Sort out return, tab, esc etc in editor so that it is easy to add solution and comments without using the mouse

Add "insert image from URL" to clue and preamble editors

Investigate using REST API instead of XML-RPC - investigate adding OpenAuth to fifteensquared

Create favicon for the app - get Jessica to do this?

Log usage statistics somewhere

Add a feedback facility somewhere. This could be permanent or just for the remainder of the development.
Perhaps just a link to an email address?  Perhaps a page in the app where users can see the feedback
from other users too.

Send client-side errors to drurys.org for analysis (opt-in)
        </pre>
    </div>
</div>