<div class="row" *ngIf="puzzle">
    <div class="col">
        <h5>{{puzzle.info.title}}</h5>
    </div>
</div>

<div class="row" *ngIf="puzzle">
    <div class="col">
        <app-grid (cellClick)="onCellClick($event)"></app-grid>
    </div>
    <div class="col">
        <ngb-tabset [justify]="currentJustify">
            <ngb-tab title="Grid">
                <ng-template ngbTabContent>this is the first tab</ng-template>
            </ngb-tab>
            <ngb-tab title="Text">
                <ng-template ngbTabContent>this is the first tab</ng-template>
            </ngb-tab>
            <ngb-tab title="Colours">
                <ng-template ngbTabContent>this is the first tab</ng-template>
            </ngb-tab>
        </ngb-tabset>
    </div>
</div>

<div class="row" *ngIf="puzzle">
    <div class="col">
        <button type="button" class="btn btn-primary mr-3" (click)="onContinue()">Continue</button>
        <button type="button" class="btn btn-primary mr-3" (click)="onClose()">Close</button>
    </div>
</div>