<div class="row" *ngIf="puzzle">
    <div class="col">
        <h5>{{puzzle.info.title}}</h5>
    </div>
</div>

<div class="row" *ngIf="puzzle">
    <div class="col">
        <app-grid 
            (cellClick)="onCellClick($event)" 
            (barClick)="onBarClick($event)" 
            (gridText)="onGridText($event)" 
            (gridNavigation)="onGridNavigation($event)" 
            [options]="options">
        </app-grid>
    </div>
    <div class="col border border-secondary rounded p-3">
        <app-tip key="gridEditor">
            <p>
                These tools allow you to configure your grid. Select one of the tab headings below:
            </p>
            <ul>
                <li>Grid - for setting the light and dark cells/bars</li>
                <li>Text - for writing letters into the lights</li>
                <li>Colours - for highlighting a theme</li>
                <li>Title - change grid title</li>
            </ul>
        </app-tip>
        
        <ngb-tabset activeId="grid" (tabChange)="onTabChange($event)">

            <ngb-tab id="grid" title="Grid">
                <ng-template ngbTabContent>
                    <div class="w-100 mt-5">
                        Click on the grid to add or remove
                        <span *ngIf="barred">bars</span>
                        <span *ngIf="!barred">lights and dark cells</span>
                    </div>
                    <div class="form-check mt-5">
                        <input disabled="true" id="symmetrical" type="checkbox" class="form-check-input" [checked]="symmetrical" (change)="onSymmetrical(!symmetrical)"/>
                        <label for="symmetrical" class="form-check-label">Grid is symmetrical </label>
                    </div>
                </ng-template>
            </ngb-tab>

            <ngb-tab id="text" title="Text">
                <ng-template ngbTabContent>
                    <div class="mt-5">
                        <div class="mb-5">
                            Click on a cell to enter text
                        </div>
                        <div class="form-check">
                            <input type="radio" name="selectSingle" class="form-check-input" [value]="gridEditors.cellEditor" [(ngModel)]="options.editor" (change)="onOptionChange()">
                            <label class="form-check-label">Select single cell </label>
                        </div>
                        <div class="form-check">
                            <input type="radio" name="selectSingle" class="form-check-input" [value]="gridEditors.cellEditorFluid" [(ngModel)]="options.editor" (change)="onOptionChange()">
                            <label class="form-check-label">Select single cell and continue</label>
                        </div>
                        <div class="form-check">
                            <input type="radio" name="selectSingle" class="form-check-input" [value]="gridEditors.entryEditor" [(ngModel)]="options.editor" (change)="onOptionChange()">
                            <label class="form-check-label">Select grid entry</label>
                        </div>
                    </div>
                </ng-template>
            </ngb-tab>

            <ngb-tab id="color" title="Colours">
                <ng-template ngbTabContent>
                    Highlight tool
                </ng-template>
            </ngb-tab>

            <ngb-tab id="properties" title="Title">
                <ng-template ngbTabContent>
                    <form [formGroup]="form">
                        <div class="form-group mt-5">
                            <label for="title">Title</label>
                            <input id="title" type="text" class="form-control" formControlName="title">
                        </div>
                        <div class="form-group">
                            <button type="button" [disabled]="!form.valid || form.pristine" (click)="onSubmit()">Save</button>
                        </div>
                    </form>
                </ng-template>
            </ngb-tab>

        </ngb-tabset>
    </div>
</div>

<div class="row" *ngIf="puzzle">
    <div class="col">
        <button type="button" class="btn btn-primary mr-3" (click)="onContinue()">Continue</button>
        <button type="button" class="btn btn-primary mr-3" (click)="onClose()">Close</button>
    </div>
</div>
