<div class="row">
    <div class="col">
        <h3>Readme</h3>
    </div>
</div>

<div class="row">
    <div class="col">
        <h5>Browser compatibility</h5>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col">
        <p> So far I have run the application successfully with <strong>Chrome</strong>,
            <strong>Firefox</strong>,
            <strong>Opera</strong>, <strong>Edge</strong> and <strong>Safari (iOS)</strong> browsers. I have also used the application successfully on a
            mobile phone running Android with Chrome.
        </p>
        <p>
            The application will function on <strong>Internet Explorer 11</strong> on Windows but has display issues where
            the text and images overlap on some screen sizes.
        </p>

    </div>
</div>

<div class="row">
    <div class="col">
        <h5>Known issues</h5>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col">
        <pre>

In the solver pressing ESC should cancel any highlighting

When failing to download a puzzle distinguish between "not found" and general errors.  For example: when trying
to open future puzzles in the Independent they may not be there yet.  This is not an error, so show a more appropriate 
error message.

Sometimes the app does not correctly distinguish between a password mismatch and a login failure due to a network problem or other general error.

        </pre>
    </div>
</div>

<div class="row">
    <div class="col">
        <h5>Ideas for improvements</h5>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col">
        <pre>

In the Solver screen make the clue editor moveable so that it does not obscure the grid.

Add a "remember me" cookie

In the grid editor allow the user to save grid images to the local computer as a gif or png

Add more help tips to pages to explain what to do (when it is not obvious)

Add a help tip somewhere to say that puzzles are automatically saved.  Also mention that saved puzzles are lost
if you delete your browser history.

Add a help tip to say that previews are only approximate renditions of the final appearance when published

Sort out return, tab, esc etc in editor so that it is easy to add solution and comments without using the mouse

Add a carte blanch tool

Add the google calendar

Review api for XSS vulnerabilities

Investigate using REST API instead od XML-RPC - investigate adding OpenAuth to fifteensquared

Add a configurable footer section to the blog entry (store to server?)

Create favicon for the app - get Jessica to do this?

Add "insert image from URL" to clue and preamble editors

Log usage statistics somewhere

Add a feedback facility somewhere. This could be permanent or just for the remainder of the development.
Perhaps just a link to an email address?  Perhaps a page in the app where users can see the feedback
from other users too.

Send client-side errors to drurys.org for analysis (opt-in)
        </pre>
    </div>
</div>