<div *ngIf="appStatus" class="row">
    <div class="col">
        <table class="table">
            <thead>
                <tr>
                    <th>Setter</th>
                    <th>Title</th>
                    <th>Date</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let info of puzzleList">
                    <td>{{info.setter}}</td>
                    <td>{{info.title}}</td>
                    <td>{{info.puzzleDate | date : "fullDate"}}</td>
                    <td><button type="button" class="btn btn-primary mr-3" (click)="onOpenSaved(info.id)">Open</button></td>
                    <td><button type="button" class="btn btn-primary" (click)="onDelete(info.id)">Delete</button></td>
                </tr>
            </tbody>
        </table>
    </div>
    
</div>
