<h3>Publish</h3>
<p>On this screen enter the fifteensquared username and password</p>

<div class="row" *ngIf="appStatus && puzzle">
    <div class="col">
        <form [formGroup]="form">
            <div class="form">
                <div class="form-group">
                    <label>
                        Username:
                        <input class="form-control" type="text" formControlName="username">
                    </label>
                </div>

                <div class="form-group">
                    <label>
                        Password:
                        <input class="form-control" type="text" formControlName="password">
                    </label>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="row" *ngIf="appStatus && puzzle">
    <div class="col">
        <button [disabled]="appStatus.busy" type="button" class="btn btn-primary mr-3" (click)="onContinue()">Publish</button>
        <button [disabled]="appStatus.busy" type="button" class="btn btn-primary" (click)="onBack()">Back</button>
    </div>
</div>