<div *ngIf="includeGrid">
    <app-grid [readonly]="true"></app-grid>
</div>

<table *ngIf="clues">
    <ng-container *ngFor="let clue of clues">
        <tr>
            <td>
                <span [ngStyle]="makeClueStyle()">{{clue.caption}} </span>
            </td>
            <td>
                <span [ngStyle]="makeAnswerStyle()">{{clue.answer}} </span>
            </td>
            <td class="col">
                <app-clue-text [clue]="clue" [publishOptions]="publishOptions"></app-clue-text>
            </td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td>
                <quill-view [content]="clue.comment" format="object" theme="snow"></quill-view>
            </td>
        </tr>
    </ng-container>
</table>