<div class="row">
    <div class="col">
        <h3>Clues Editor</h3>
    </div>
</div>

<div class="row" *ngIf="puzzle">
    <div class="col">
        <h5>{{puzzle.info.title}}</h5>
    </div>
</div>

<!--
<div class="row" *ngIf="puzzle && puzzle.grid">
    <div class="col">
        <app-grid [options]="{ readonly: true, showShading: false }"></app-grid>
    </div>
</div>
-->

<div class="row" *ngIf="puzzle">
    <div class="col">
        <div *ngIf="acrossClues.length">
            <h3>Across</h3>
            <table>
                <tbody>
                    <tr *ngFor="let clue of acrossClues" (click)="onClueClick(clue)">
                        <app-clue-list-item [clue]="clue" [options]="{showSolved: false, showEditButtons: true}" (action)="onAction(clue, $event)" (close)="onEditorClose()">
                        </app-clue-list-item>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="col">
        <h3>Down</h3>
        <table>
            <tbody>
                <tr *ngFor="let clue of downClues" (click)="onClueClick(clue)">
                    <app-clue-list-item [clue]="clue" [options]="{showSolved: false, showEditButtons: true}" (action)="onAction(clue, $event)" (close)="onEditorClose()">
                    </app-clue-list-item>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="row mt-3" *ngIf="puzzle">
    <div class="col">
        <button type="button" class="btn btn-primary mr-3" (click)="onAddClue()">Add new clue</button>
    </div>
</div>

<div class="row mt-5" *ngIf="puzzle">
    <div class="col">
        <button type="button" class="btn btn-primary mr-3" (click)="onContinue()">Continue</button>
    </div>
</div>