<div *ngIf="includeGrid">
    <app-grid [options]="{ readonly: true, showShading: true }"></app-grid>
</div>

<table *ngIf="clues && publishOptions.layout === 'table'">
    <thead *ngIf="publishOptions.modifyAnswers">
        <tr class="border-top border-bottom">
            <td></td>
            <td>answer</td>
            <td>entry</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let clue of clues">
            <tr>
                <td [ngClass]="tdClass">
                    <span class="text-nowrap" [ngStyle]="makeClueStyle()">{{clue.caption}} </span>
                </td>
                <td [ngClass]="tdClass">
                    <span class="text-nowrap" [ngStyle]="makeAnswerStyle()">{{clue.answers[0]}} </span>
                </td>
                <td [ngClass]="tdClass">
                    <app-clue-text [clue]="clue" [publishOptions]="publishOptions"></app-clue-text>
                </td>
            </tr>
            <tr>
                <td [ngClass]="tdClass"></td>
                <td [ngClass]="tdClass"></td>
                <td [ngClass]="tdClass">
                        <quill-view [content]="clue.comment" format="object" theme="snow"></quill-view>
                </td>
            </tr>
        </ng-container>
    </tbody>
</table>

<div *ngIf="clues && publishOptions.layout === 'list'">
    <ng-container *ngFor="let clue of clues">
        <div [ngStyle]="makeClueStyle()" [ngClass]="tdClass">
            <span class="text-nowrap">{{clue.caption}}.</span>&nbsp;&nbsp;<app-clue-text [clue]="clue" [publishOptions]="publishOptions"></app-clue-text>
        </div>
        <div class="text-nowrap" [ngClass]="tdClass">
            <span [ngStyle]="makeAnswerStyle()">{{clue.answers[0]}}</span>
        </div>
        <div [ngClass]="tdClass">
            <quill-view [content]="clue.comment" format="object" theme="snow"></quill-view>
        </div>
    </ng-container>
</div>