<div class="row">
    <div class="col">
        <ngb-alert type="warning">
            This feature is still work in progress.  
            You are welcome to have a go, but don't rely on it for anything important.
        </ngb-alert>
    </div>
</div>

<div class="row">
    <div class="col">
        <h3>Special</h3>
        <p>You can open a puzzle from a PDF file on your computer, or you can entering the clues manually</p>
    </div>
</div>
    
<div class="row">
    <div class="col">

        <div>Load a PDF file form your computer</div>
        <button class="btn btn-primary mt-3" (click)="onPdf()">Open PDF</button>

        <div class="mt-5">Create a grid and enter the clues</div>
        <button class="btn btn-primary mt-3" (click)="onGridText()">Grid and clues</button>

        <div class="mt-5">Enter the clues only</div>
        <button class="btn btn-primary mt-3" (click)="onText()">Clues only</button>
    </div>
</div>
