<ng-container *ngIf="clue">
    <td class="caption">{{clue.caption}}</td>
    <td [ngClass]="klasses">{{clue.text}}</td>
    <td *ngIf="options.showEditButtons">
        <div *ngIf="clue.highlight">
            <button class="btn border" (click)="onAction('edit')">
                <i class="fa fa-edit" title="Edit the clue text"></i>
            </button>
            <button class="btn border" *ngIf="false" (click)="onAction('link')">
                <i class="fa fa-link" title="Link the clue to an entry in the grid"></i>
            </button>
            <button class="btn border" (click)="onAction('delete')">
                <i class="fa fa-times" title="Delete this clue"></i>
            </button>
            </div>
    </td>
</ng-container>