.hidden {
    display:none;
}
.spacey {
    letter-spacing: 3px;
}
.spacey span {
    display: inline-block;
}

.separator {
    color: black;
    margin-left: 5px;
    margin-right: 4px;
}
.placeholder {
    color: black;
}
.pointing {
    color: black;
}
.editorEntry {
    color: slategrey;
}
.gridEntry {
    color: black;
}
.clash {
    color: orangered;
}