.highlight {
    background-color: burlywood;
}
.solved {
    color: silver;
}
.highlight.solved {
    color: inherit;
}
.caption {
    font-weight: bold;
}
.clue {
    font-family: serif;
}
td {
    vertical-align: top;
}