<h3>Publish</h3>

<div class="row" *ngIf="appStatus && puzzle && hasCredentials">
    <div class="col">
        <form [formGroup]="form">
            <div class="form">
                <div class="form-group">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" value="draft" formControlName="publishAsDraft">
                        <label class=form-check-label>publish as draft</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" value="live" formControlName="publishAsDraft">
                        <label class=form-check-label>publish immediately</label>
                    </div>

                </div>
            </div>
        </form>
    </div>
</div>

<div class="row" *ngIf="appStatus && puzzle && hasCredentials">
    <div class="col">
        <button [disabled]="appStatus.busy || !form.valid" type="button" class="btn btn-primary mr-3"
            (click)="onContinue()">Publish</button>
        <button [disabled]="appStatus.busy" type="button" class="btn btn-primary" (click)="onBack()">Back</button>
    </div>
</div>

<app-login-control 
    *ngIf="appStatus && !hasCredentials" 
    [options]="{ continueButtonText: 'Publish', cancelButtonText: 'Back'}">
</app-login-control>

<div style="visibility: hidden;">
    <canvas #canvas></canvas>
</div>