<h3>preamble</h3>

<div class="row justify-content-center" *ngIf="puzzle">
    <div class="col-auto">
        <app-clues-preview [includeGrid]="true"></app-clues-preview>
    </div>
</div>


<div class="row" *ngIf="puzzle">
    <div class="col">
        <form [formGroup]="form" *ngIf="puzzle">
            <div class="mt-4">
                <p>enter the title to be displayed on the fifteensquared home page</p>
                <input id="title" type="text" formControlName="title">
            </div>

            <div class="mt-4">
                <p>comment to be displayed below the title on the home page</p>
                <quill-editor formControlName="header"></quill-editor>
            </div>

            <div class="mt-4">
                <p>further comment inside your blog</p>
                <quill-editor formControlName="body"></quill-editor>
            </div>

            <div class="mt-4">
                <button type="button" class="btn btn-primary mr-3" (click)="onContinue()">Continue</button>
                <button type="button" class="btn btn-primary" (click)="onBack()">Back</button>
            </div>
        </form>
    </div>
</div>