<h3>preamble</h3>

<form [formGroup]="form" *ngIf="puzzle">
    <div class="mt-4">
        <p>enter the headline for the fifteensquared home page</p>
        <quill-editor formControlName="header"></quill-editor>
    </div>

    <div class="mt-4">
        <p>further comments inside your blog</p>
        <quill-editor formControlName="body"></quill-editor>
    </div>

    <div class="mt-4">
        <button type="button" class="btn btn-primary mr-3" (click)="onContinue()">Continue</button>
        <button type="button" class="btn btn-primary" (click)="onBack()">Back</button>
    </div>
</form>