<app-info-panel>
    <p>
        You can correct errors in the grid here.
    </p><p>
        Click on a cell to add or remove lights in the grid.
    </p><p>
        For barred grids click on the cell edges to add or remove a bar.
    </p>
</app-info-panel>

<div class="row">
    <div class="col d-flex justify-content-center">
        <app-grid 
            (cellClick)="onCellClick($event)" 
            (barClick)="onBarClick($event)" 
            [options]="{ hideShading: true, hideHighlight: true }">
        </app-grid>
    </div>
</div>
