<div class="row">
    <div class="col">
        <h3>Special</h3>
        <p>You can open a puzzle form a pdf file, or by entering the clues manually</p>
    </div>
</div>
    
<div class="row">
    <div class="col">

        <div>Load a PDF file form your computer</div>
        <button class="btn btn-primary mt-3" (click)="onPdf()">Open PDF</button>

        <div class="mt-5">Create a grid and enter the clues</div>
        <button class="btn btn-primary mt-3" (click)="onGridText()">Grid and clues</button>

        <div class="mt-5">Enter the clues manually</div>
        <button class="btn btn-primary mt-3" (click)="onText()">Clues only</button>
    </div>
</div>
