<h3 class="mt-3">Start a new grid</h3>
<app-tip key="gridStart">
    <p>
        The Grid Tool allows you to create a grid image suitable for display in a web page. 
        The first step is to give the new grid a title and specify its size and shape.
    </p>
    <p>
        The pages following this will allow you to set lights and dark cells, add text and hightlight cells of the grid (to illustrate a theme for example).
    </p>
    <p>
        The completed gid may then be printed, downloaded to your computer or uploaded to the Media Library at fifteensquared.net for inclusion
        in a blog.
    </p>
</app-tip>
<app-grid-properties-editor (close)="onClose($event)"></app-grid-properties-editor>