<div>
    <div class="row">
        <div class="col">
            <h5 *ngIf="puzzle">{{puzzle.info.title}}</h5>
        </div>
    </div>

    <div class="row" *ngIf="xxx">
        <div class="col">
            <app-jigsaw-grid-view [grid]="xxx"></app-jigsaw-grid-view>
        </div>

        <div class="col" *ngIf="xxx">
            <h5>Answers</h5>
            <app-jigsaw-clues-view [answers]="xxx.answers"></app-jigsaw-clues-view>
        </div>

    </div>

    <div class="row  mb-5">
        <div class="col text-left">
            <button type="button" class="btn btn-secondary mr-3" (click)="onStartFill()">Autofill</button>
            <button type="button" class="btn btn-secondary mr-3" (click)="onClear()">Clear all</button>
            <button type="button" class="btn btn-primary mr-3" (click)="onBack()">Close</button>
        </div>
    </div>
</div>